[redshift]
temp-day={{ redshift_day_temperature }}
temp-night={{ redshift_night_temperature }}
transition=1
location-provider=manual
adjustment-method=randr

[manual]
lat={{ redshift_latitude }}
lon={{ redshift_longitude }}
[vidmode]
screen=0
[randr]
screen=0
